<div class="container-wrapper">
  <mat-card id="{{productId}} #productid">
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
      <hr>
    </mat-card-header>
    <mat-card-content>
      <img src="{{imgsrc}}" alt="{{alt}}" height="110px" class="mx-auto d-block">
      <br>
      <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
      <ng-template [ngIf]="productId == products[0].id">
        <div>
          <ul>
            <li>x1 House Decoration</li>
            <li>x1 Mansion Decoration</li>
            <li>x1 Estate Decoration</li>
            <li>x1 Mount Razor (15 days)</li>
            <li>x1000 Platinum Coins</li>
          </ul>
        </div>
        <h6 class="card-price text-center">${{productPrice}}</h6>
      </ng-template>
      <ng-template [ngIf]="productId == products[1].id">
        <div>
          <ul>
            <li>x2 House Decoration</li>
            <li>x2 Mansion Decoration</li>
            <li>x2 Estate Decoration</li>
            <li>x1 Mount Razor (15 days)</li>
            <li>x3000 Platinum Coins</li>
            <li>x1 School Costume Crate</li>
            <li>x2 School Accessory Costume Crate</li>
            <li>x1 Dragon Armor Skin Crate</li>
          </ul>
        </div>
        <h6 class="card-price text-center">${{productPrice}}</h6>
      </ng-template>
      <ng-template [ngIf]="productId == products[2].id">
        <div>
          <ul>
            <li>x3 House Decoration</li>
            <li>x3 Mansion Decoration</li>
            <li>x3 Estate Decoration</li>
            <li>x1 Mount Razor (30 days)</li>
            <li>x5000 Platinum Coins</li>
            <li>x2 School Costume Crate</li>
            <li>x4 School Accessory Costume Crate</li>
            <li>x2 Dragon Armor Skin Crate</li>
            <li>x1 Dragon Weapon Skin Crate</li>
            <li>x1 Premium Random Costume</li>
          </ul>
        </div>
        <h6 class="card-price text-center">${{productPrice}}</h6>
      </ng-template>
    </mat-card-content>
    <mat-card-actions align="end">
      <button type="button" class="btn btn-secondary" (click)="onClick(productId)">Buy</button>
    </mat-card-actions>
  </mat-card>
</div>